body {
  background-color: #2E8B57; 
  color: white;
  font-family: 'Times New Roman', Serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh; 
}

#container {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 100%; 
}

.main-title {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.timer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: darkgrey;
  padding: 10px;
}

.timer-control button {
  margin: 0 10px;
  padding-top: 30px;
  align-items: center;
}


.timer-wrapper, .btn-level {
  border: 2px solid white;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
}

.timer-wrapper {
  margin: auto;
  border: 2px solid white;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 2em;
  background-color: #2E8B57;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

.fa-arrow-down, .fa-arrow-up, .fa-play, .fa-pause, .fa-refresh {
  color: white;
}

.controls-container {
  display: flex;           
  justify-content: space-between;  
  margin-bottom: 20px;   
  width: 100%; 
}

.controls-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
}


.length-control {
  width: 45%;              
  padding: 0 10px;    
  display: flex;         
  align-items: center;  
  justify-content: space-between;
  margin-top: 10px; 
  flex-direction: column;
}
  

  .author {
    text-align: center; 
    padding-top: 3px; 
    margin: 0 auto; 
}



